@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 800px) {
  .main {
    min-width: 50vw;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .side-img {
    min-height: 100vh;
    min-width: 50vw;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .side-img img {
    height: 100vh;
    width: 100%;
  }
  .login {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-height: 100vh;
    min-width: 35vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 10px 20px 10px;
    margin: 0 10px;
  }
  .login .title {
    margin: 10px 10px 20px 10px;
  }
  .login .title h1 {
    font-family: 'Montserrat', sans-serif;
  }
  .login input {
    padding: 10px;
    width: 80%;
    border: 1px solid #858585;
    border-radius: 5px;
    margin: 5px 10px;
  }
  .login label {
    font-family: 'Montserrat', sans-serif;
    margin: 6px 10px;
    color: #424242;
  }
  .login small {
    font-family: 'Montserrat', sans-serif;
    margin: 6px 10px;
    color: #424242;
  }
  .login .login-btn {
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    margin: 5px 10px;
    background-color: #277eb1;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: bold;
  }
  .login .login-btn:hover {
    background-color: #1f628a;
  }
}

@media screen and (max-width: 800px) {
  .main {
    min-width: 100vw;
    min-height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .side-img {
    min-height: 50vh;
    min-width: 50vw;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .side-img img {
    height: 100vh;
    width: 100%;
  }
  .login {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-height: 50vh;
    min-width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 10px 20px 10px;
    margin: 0 10px;
  }
  .login .title {
    margin: 10px 10px 20px 10px;
  }
  .login .title h1 {
    font-family: 'Montserrat', sans-serif;
  }
  .login input {
    padding: 10px;
    width: 80%;
    border: 1px solid #858585;
    border-radius: 5px;
    margin: 5px 10px;
  }
  .login label {
    font-family: 'Montserrat', sans-serif;
    margin: 6px 10px;
    color: #424242;
  }
  .login small {
    font-family: 'Montserrat', sans-serif;
    margin: 6px 10px;
    color: #424242;
  }
  .login .login-btn {
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    margin: 5px 10px;
    background-color: #277eb1;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: bold;
  }
  .login .login-btn:hover {
    background-color: #1f628a;
  }
}
/*# sourceMappingURL=login.css.map */